.main {
  width: 100%;
  height: 100%;
}

.gameWindow {
  width: 1280px;
  height: 720px;
  display: flex;
  flex-direction: row;
  outline: 1px solid white;
}

.gameWindow ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gameText {
  padding: 20px;
  width: 100%;
}

.voteCount {
  margin-right: 10px;
}

.voteLetter {
  text-transform: uppercase;
}

/* @media (min-width: 700px) {

} */
